.box-container{
display:flex;
align-items:center;
justify-content: center;
height:100%
}

.box {
  background-color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 26rem;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(221, 217, 217);
  box-shadow: 1px 1px 1px rgb(221, 217, 217); 
}

img{
  max-width: 100%;
}

.box-header{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.box-content{
  margin:1rem;
  border-width: 1rem;
  border-color: #000;
}

.box-content-title{
  font-size:1.5rem;
  font-weight: bold;
  color: rgb(68, 59, 59);
  padding: 0.5rem;
}

.box-content-body{
  font-size: 1.5rem;
  padding: 0.5rem;
}

.box-footer{
  display:flex;
  margin:0.5rem; 
  font-size: 0.8rem; 
  font-weight: bold;
  color: rgb(101, 95, 95);
}

.tag{
  width:auto;
  background-color: rgba(228, 232, 235, 0.755);
  margin:0.5rem;
  padding: 0.4rem 0.9rem;
  border-radius: 1.8rem;  
}