body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #eee;
}

.navbar {
  background-color: #212529;
  color: #fff;
  overflow: hidden;
  padding: 1rem;
  display: flex;
}

.navbar-text {
  padding: 2 0 0 1rem
}

.content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #798189
}

.content-text-top {
  margin-top: 3rem;
  font-size: 2rem;
}

.content-text-body {
  padding: 1rem;
  line-height: 1.6;
  font-size: 1.2rem
}

.content-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-button-item {
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  cursor: pointer;
}

.content-button-one {
  background-color: #0d6efd;
}

.content-button-two {
  background-color: #6c757d;
}

.content {
  padding: 3rem 0 5rem;
}

.content-box-item {
  width: 100%;
  margin-bottom: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 5px 9px 3px #dddd;
}

.content-box-image {
  width: 100%;
}

.content-box-text {
  padding: 1rem;
  font-size: 1.1rem;
  color: #798189;
}

.content-box-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #688eb4;
}

.d-flex {
  display: flex
}

.content-box-footer-item {
  border: 1px solid #000;
  padding: 0.5rem;
}

.content-box-footer-item:first-child {
  border-radius: 4px 0 0 4px;
}

.content-box-footer-item:last-child {
  border-radius: 0 4px 4px 0;
  margin-left: -1px
}

.content-box-footer-text {
  display: flex;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
  gap: 20px;
}

@media (min-width: 768px) {
  .content-box-item {
    width: calc(33.33% - 20px);
  }
}